/*grid de integrantes*/
.grid-int{
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "john"
    "paul"
    "george"
    "ringo"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows:  700px 100px 800px 700px 700px 700px 100px ;
}
.intnav{
    grid-area: nav;
}
.intmain{
    grid-area: main;
}
.intjohn{
    grid-area: john;
}
.intpaul{
    grid-area: paul;
}
.intgeorge{
    grid-area: george;
}
.intringo{
    grid-area: ringo;
}
.intfooter{
    grid-area: footer;
}

/*formato mobile de integrantes*/
@media screen and (max-width: 320px){
    .grid-int{
        grid-template-columns: 100%;
        grid-template-rows:  700px 300px 1200px 700px 700px 800px 100px ;
        grid-template-areas: 
        "nav"
        "main"
        "john"
        "paul"
        "george"
        "ringo"
        "footer";
    }
    .li{
        display:block;
        margin-left: 15px;
    }
    .caja0{
        width: 320px;
    }
    p{
        font-size: 11px;
    }
    .sinopsis{
        font-size: 12px;
    }
    .imagen1{
        width: 300px;
        height: 320px;
        margin-left: 0px;
    }
    .imagen2{
        width: 300px;
        height: 320px;
        margin-left: 10px;
    }
    .imagen3{
        width: 300px;
        height: 320px;
        margin-left: 10px;
    }
    .imagen4{
        width: 300px;
        height: 320px;
        margin-left: 10px;
    }
}


/*formato desktop de integrantes*/
@media screen and (max-width: 600px){
    .grid-int{
        grid-template-columns: 100%;
        grid-template-rows:  700px 300px 1200px 700px 700px 800px 100px ;
        grid-template-areas: 
        "nav"
        "main"
        "john"
        "paul"
        "george"
        "ringo"
        "footer";
    }
    .li{
        display:block;
        margin-left: 15px;
    }
    .caja0{
        width: 320px;
    }
    p{
        font-size: 11px;
    }
    .sinopsis{
        font-size: 12px;
    }
    .imagen1{
        width: 300px;
        height: 320px;
        margin-left: 0px;
    }
    .imagen2{
        width: 300px;
        height: 320px;
        margin-left: 10px;
    }
    .imagen3{
        width: 300px;
        height: 320px;
        margin-left: 10px;
    }
    .imagen4{
        width: 300px;
        height: 320px;
        margin-left: 10px;
    }
}