@import "index";
@import "discografia";
@import "peliculas";
@import "integrantes";
@import "historia";

$colorprincipal: #116D91;

/*fondo de index*/
#FondoRojo{
    background-image: url(../imagenes/descarga\ \(17\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/*fondo de discografia*/
.fondoD{
    background-image: url(../imagenes/beatles-1-1-1024x740.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-top: 0px;
}

/*fondo de historia*/
.fondoh{
    background-image: url(../imagenes/THE-BEATLES.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin-top: 0px;
    
}

/*fondo de peliculas*/
.fondop{
    background-image: url(../imagenes/The-Beatles-peliculas-900x506.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 0px;
}

/*estilo de las sinopsis*/
.sinopsis{
    font-size: 28px;
    margin-left: 30px;
}

h1{
    color: #52C0DE;
    font-family: fantasy;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    margin-top: 350px;
}
ul{
    list-style-type: none;
    font-weight: bolder;
    font-size: 30px;
}
h2{
    font-family: fantasy;
    font-size: 40px;
    color: #202020
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*estilo de los menu de navegacion*/
.caja0{
    height: 50px;
    width: 1340px;
    margin-top: 0px;
    background-color: $colorprincipal;
}

.caja1{
    position: sticky;
}
.iframe{
    margin-left: 10px;
}
.li{
    color: #98D3E3;
    padding-left: 100px;
    display: inline;
}
.integrantes{
    font-size: 60px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: $colorprincipal;
}  

/*imagen de johnn*/
.imagen1{
    margin-left: 450px;
}
/*imagen de paul*/
.imagen1--2{
    @extend .imagen1;
    margin-left: 350px;
}  
/*imagen de george*/
.imagen1--3{
    @extend .imagen1;
    height: 500px;
    width: 400px;
    margin-left: 450px;
}
/*imagen de ringo*/
.imagen1--4{
    @extend .imagen1;
    height: 500px;
    width: 450px;
    margin-left: 450px;
}

/*estilo de las imagenes de discografia*/
.pps{
    height: 500px;
    width: 500px;
    margin-left: 35px;
}
.ol{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    display: block;
    font-size: 24px;
}
/*tamaño de fuente de main*/
.main{
    font-size: 24px;
}

/*tamaño del footer*/
.footer{
    height: 50px;
    width: 100%;
    background-color: $colorprincipal;
    margin-bottom: 0px;
}
.footer1{
    height: 50px;
    width: 100%;
    background-color: $colorprincipal;
    margin-bottom: 0px;
}
/*contenido del footer*/
.pfooter{
    color: #98D3E3;
    text-align: center;
}

.aa{
    font-size: 30px;
    text-align: center;
}
.bb{
    margin-left: 25px;
}
.cc{
    font-size: 35px;
}
.border{
    border: 3px;
    border: #202020;
}


.opa{
    width: 100%;
    height: 500px;
}
.apa{
    display: inline-block;
    margin-top: 50px;
}
.epa{
    margin-left: 150px;
}

.ppp{
    font-size: 40px;
}
.la{
    margin-left: 400px;
}
a:visited{
    color:#98D3E3
}
a:active{
    color:#4d1191
}

